/* Hoje em dia é possivel declarar variaveis no CSS*/
:root{
    /* Boa prática, permite a formatação das cores de todo o site uma vez só*/
    --vermelho: #E50914;
    --preta:  #141414;
}

/*Resetando o CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* O limite dos elementos internos são a borda da caixa*/
}

/*  Elementos Base  */
body{
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container{
    display: flex; /* Vira uma flexbox */
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{ /* Quando o mouse estiver em cima */
    color: #fff;
}

/* Filme principal */
.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%) , url('../img/capa-breaking-bad.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-bottom: 40px;
    margin-top: 10px;
}

.titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px; 
    font-size: 12px;

    cursor: pointer; /* Identifica que é um ponteiro */
    transition: .5s ease all;
}

.botao:hover{
    background-color: white;
    color:black;
}

.botao:focus{
    outline: 0px auto -webkit-focus-ring-color;
}

.botao i {
    margin-right: 10px;
}

/* Envelopar (Wrapper) */

.container{
    margin-left: 2rem;
}

.filme-principal .container{
    width: 60%; /* Quanto de largura vai ocupar na tela */
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.modal{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 25rem;
    padding: 5%;
    margin-top: -15%;
    box-shadow: 0 0 0 30px var(--preta);
    background: linear-gradient(rgba(0,0,0,.50),rgba(0, 0, 0, 0.7)100%) , url('../img/background-pop.jpg');
    background-color: rgba(0, 0, 0, 0.301);
    background-position: 40% center;
    background-size: cover;
}

.modal .logo-serie{
    margin-top: -5%;
    margin-bottom: 5%;
}

.detalhes-tecnicos{
    margin-bottom: 2%;
}

.sinopse{
    margin-bottom: 2%;
}

.title-popup{
    position: absolute;
    top: -25px;
    left: 0px;
}

.titulo-logo{
    width: 70%;
}

.cinza{
    color: #a1a1a1;
}

.informacoes{
    width: 100vw; /* View port Width */
    height: 130vh; /* View port Height */
    position: fixed;
    top: 0px;
    left: 0px;
    background-color:rgba(0, 0, 0,.8);
    z-index: 2000;/* Garante que fique por cima de todos os outros itens */
    display: none;
    justify-content: center;
    align-items: center;
}

.informacoes.mostrar{
    display: flex;
}

.fechar {
    position: absolute;
    top: -40px;
    right: -40px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border:none;
    background-color: var(--vermelho);
    color: white;
    cursor: pointer;
}

/* Utilizando Keyframes */

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.mostrar .modal {
    animation: modal .3s;
}