/* Adicionando uma media query */

@media screen and (max-width: 710px){ /* Sintaxe */
    header .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .botao{
        margin-top: 10px;
        width: 190px;
        height: 40px;
        display: flex;
        align-items: center;
    }

    main {
        margin-bottom: 10px;
    }
}

/* Galaxy fold responsividade */
@media screen and (max-width: 375px){
    
    .filme-principal .descricao{
        margin-bottom: 0px;
    }

    .botao{
        font-size: 8pt;
        justify-content: center;
        margin-left: 0px;
        margin-top: 5px;
    }
}

/*aplicando no valor padrão */

@media screen and (min-width: 1000px){
    .descricao{
        width: 65%;
    }
}